
/*css formulaire de connection user*/
*{
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
body{
    background-color: darkcyan;
}

form{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-top: 50px;
    padding: 20px;
    border: solide 1px;
    background-color: white;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    width: 20em;
   
    text-align: center;
    
}

form div{
    
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    
}
 
 label {
    margin-left: 30px;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;

   
 }

 input{
   margin-right: 30px;
   border: 1px solode rgba(0, 0, 0, 0.2);
   padding: 5px;
 }
  input:focus, textarea{
    border: 0.5px solide black;
  }

  input[type="submit"] {
    background-color: #17a2b8;
    color:white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #17a2b8;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 6em;

  }
  textarea {
    align-items: center;
    justify-content: center ;
  }

  /*css media queries*/

  @media screen and (min-width:680px) and (max-width:1024px){
    
    form{
      width: 
    }
    
}

@media screen and (min-width:1024px){
  form{
    width: 
  }
    
}